<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>
    <event>
        <id>7</id>
        <title>Annual Corporate Meeting</title>
        <description>Discussing company's strategies.</description>
        <date>2024-12-15+01:00</date>
        <startTime>09:00</startTime>
        <finishTime>11:00</finishTime>
        <category>
            <id>1</id>
        </category>
        <client>
            <id>1</id>
            <phoneNumber>0</phoneNumber>
        </client>
        <room>
            <id>1</id>
            <capacity>50</capacity>
            <hourlyRate>100.0</hourlyRate>
            <surface>75.0</surface>
        </room>
        <registrationWrapper>
            <registration>
                <id>0</id>
                <participant id="3">
                    <email>john.doe@example.com</email>
                    <totalPaid>0.0</totalPaid>
                </participant>
                <amountPaid>100.0</amountPaid>
            </registration>
            <registration>
                <id>0</id>
                <participant id="2">
                    <email>john.doe@example.com</email>
                    <totalPaid>0.0</totalPaid>
                </participant>
                <amountPaid>100.0</amountPaid>
            </registration>
            <registration>
                <id>0</id>
                <participant id="5">
                    <email>john.doe@example.com</email>
                    <totalPaid>0.0</totalPaid>
                </participant>
                <amountPaid>100.0</amountPaid>
            </registration>
        </registrationWrapper>
        <eventStaffWrapper/>
        <eventMaterialWrapper/>
    </event>
    <event>
        <id>8</id>
        <title>Team Workshop</title>
        <description>Team-building activities.</description>
        <date>2024-12-16+01:00</date>
        <startTime>10:00</startTime>
        <finishTime>13:00</finishTime>
        <category>
            <id>2</id>
        </category>
        <client>
            <id>2</id>
            <phoneNumber>0</phoneNumber>
        </client>
        <room>
            <id>2</id>
            <capacity>30</capacity>
            <hourlyRate>80.0</hourlyRate>
            <surface>50.0</surface>
        </room>
        <registrationWrapper/>
        <eventStaffWrapper/>
        <eventMaterialWrapper/>
    </event>
    <event>
        <id>9</id>
        <title>Tech Conference</title>
        <description>Exploring latest technologies. </description>
        <date>2024-12-17+01:00</date>
        <startTime>08:00</startTime>
        <finishTime>17:00</finishTime>
        <category>
            <id>3</id>
        </category>
        <client>
            <id>3</id>
            <phoneNumber>0</phoneNumber>
        </client>
        <room>
            <id>3</id>
            <capacity>100</capacity>
            <hourlyRate>200.0</hourlyRate>
            <surface>150.0</surface>
        </room>
        <registrationWrapper/>
        <eventStaffWrapper/>
        <eventMaterialWrapper/>
    </event>
    <event>
        <id>10</id>
        <title>Dev Workshop</title>
        <description>A workshop to develop web apps.</description>
        <date>2024-12-18+01:00</date>
        <startTime>10:00</startTime>
        <finishTime>13:00</finishTime>
        <category>
            <id>1</id>
            <name>Corporate Meeting</name>
        </category>
        <room>
            <id>3</id>
            <name>Focus Small Room</name>
            <capacity>5</capacity>
            <hourlyRate>20.0</hourlyRate>
            <surface>15.0</surface>
        </room>
        <registrationWrapper>
            <registration>
                <id>0</id>
                <participant id="2">
                    <email>test@gmail.com</email>
                    <fullName>fatma</fullName>
                    <password>test</password>
                    <roles>USER</roles>
                    <totalPaid>0.0</totalPaid>
                </participant>
                <amountPaid>75.0</amountPaid>
            </registration>
        </registrationWrapper>
        <eventStaffWrapper>
            <eventStaff>
                <id>1</id>
                <staffMember id="3">
                    <email>johndoe@example.com</email>
                    <fullName>John Doe</fullName>
                    <password>password123</password>
                    <roles>STAFF_MEMBER</roles>
                </staffMember>
                <startTime>09:30</startTime>
                <finishTime>13:30</finishTime>
                <eventStaffRole>
                    <id>10</id>
                    <role>
                        <id>1</id>
                        <name>Animation</name>
                    </role>
                </eventStaffRole>
            </eventStaff>
        </eventStaffWrapper>
    </event>
    <event>
        <id>11</id>
        <title>Testing it all workshop</title>
        <description>A workshop to test it all</description>
        <date>2024-12-19+01:00</date>
        <startTime>10:00</startTime>
        <finishTime>13:00</finishTime>
        <category>
            <id>1</id>
            <name>Corporate Meeting</name>
        </category>
        <room>
            <id>3</id>
            <name>Focus Small Room</name>
            <capacity>5</capacity>
            <hourlyRate>20.0</hourlyRate>
            <surface>15.0</surface>
        </room>
        <registrationWrapper>
            <registration>
                <id>0</id>
                <participant id="2">
                    <email>test@gmail.com</email>
                    <fullName>fatma</fullName>
                    <password>test</password>
                    <roles>USER</roles>
                    <totalPaid>0.0</totalPaid>
                </participant>
                <amountPaid>75.0</amountPaid>
            </registration>
        </registrationWrapper>
        <eventStaffWrapper>
            <eventStaff>
                <id>1</id>
                <staffMember id="3">
                    <email>johndoe@example.com</email>
                    <fullName>John Doe</fullName>
                    <password>password123</password>
                    <roles>STAFF_MEMBER</roles>
                </staffMember>
                <startTime>08:30</startTime>
                <finishTime>13:30</finishTime>
                <eventStaffRole>
                    <id>10</id>
                    <role>
                        <id>1</id>
                        <name>Animation</name>
                    </role>
                </eventStaffRole>
            </eventStaff>
        </eventStaffWrapper>
        <eventMaterialWrapper>
            <eventMaterial>
                <id>0</id>
                <quantityUsed>10</quantityUsed>
                <material>
                    <id>4</id>
                    <name>RGB Lights</name>
                    <quantity>30</quantity>
                    <hourlyRate>12.0</hourlyRate>
                </material>
                <startTime>10:00</startTime>
                <finishTime>13:00</finishTime>
            </eventMaterial>
        </eventMaterialWrapper>
    </event>
</events>
