<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>
    <event>
        <id>7</id>
        <title>Annual Corporate Meeting</title>
        <description>Discussion on the company's progress and future goals.</description>
        <date>2024-12-15+01:00</date>
        <startTime>09:00</startTime>
        <finishTime>11:00</finishTime>
        <category>
            <id>1</id>
        </category>
        <client>
            <id>1</id>
            <phoneNumber>0</phoneNumber>
        </client>
        <room>
            <id>1</id>
            <capacity>50</capacity>
            <hourlyRate>100.0</hourlyRate>
            <surface>75.0</surface>
        </room>
        <registrationWrapper/>
        <eventStaffWrapper/>
        <eventMaterialWrapper/>
    </event>
    <event>
        <id>8</id>
        <title>Team Workshop</title>
        <description>Team-building activities enhancing collaboration and productivity.</description>
        <date>2024-12-16+01:00</date>
        <startTime>10:00</startTime>
        <finishTime>13:00</finishTime>
        <category>
            <id>2</id>
        </category>
        <client>
            <id>2</id>
            <phoneNumber>0</phoneNumber>
        </client>
        <room>
            <id>2</id>
            <capacity>30</capacity>
            <hourlyRate>80.0</hourlyRate>
            <surface>50.0</surface>
        </room>
        <registrationWrapper/>
        <eventStaffWrapper/>
        <eventMaterialWrapper/>
    </event>
    <event>
        <id>9</id>
        <title>Tech Conference</title>
        <description>An exploration of the latest innovations and technologies in the industry.</description>
        <date>2024-12-17+01:00</date>
        <startTime>08:00</startTime>
        <finishTime>17:00</finishTime>
        <category>
            <id>3</id>
        </category>
        <client>
            <id>3</id>
            <phoneNumber>0</phoneNumber>
        </client>
        <room>
            <id>3</id>
            <capacity>100</capacity>
            <hourlyRate>200.0</hourlyRate>
            <surface>150.0</surface>
        </room>
        <registrationWrapper/>
        <eventStaffWrapper/>
        <eventMaterialWrapper/>
    </event>
</events>
